*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  background: #000;
  padding: 20px;

  background-image: url('./assets/fundo-dragonball.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}